footer {
    height: auto;
    width: 100%;
    background: $primary-whiteGrey;
    .footer__copy {
        background: $primary-blueGrey;
        width: 100%;
        padding: 20px;
        margin: 20px 0 0;
        ul {
            list-style: none;
        }
        p {
            color: $primary-white;
        }
        @media screen and (max-width: $device-s) {
            margin: 0;
            padding: 20px 0;
        }
    }
    .flex-item {
        width: 400px;
        height: auto;
        li {
            font-size: 0.8em;
            @media screen and (max-width: 640px) {
                font-size: 12px;
            }
        }
        h3 {
            margin: 20px 0;
        }
        ul {
            list-style: none;
        }
    }
}
