.nav-wrapper {
    display: flex;
    background: $primary-white;
    box-shadow: 0 7px 5px 0 rgba(0,0,0,0.1);
    height: 80px;
    width: 100%;
    position: fixed;
    padding: 1px;
    z-index: 1;

    .bird-logo {
        position: relative;
        transition: 1s ease;
        top: -100px;
        left: 40px;
        width: 4%;

        &--transition {
            position: relative;
            transition: 2s ease;
            transition-delay: 1s;
            top: 1px;
            left: 40px;
            width: 4%;
        }

        &:hover {
            content: "hey";
        }
    }

    nav {
        display: flex;
        align-items: center;
        width: 960px;
        margin: 0 auto;
        height: 100%;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            padding: 0 30px 0 0;

            a {
                color: $primary-blue;

                &:hover {
                    border-bottom: 2px solid $primary-orange;
                }
            }
        }
    }
}
