// Navigation menu  wrapper
.nav-wrapper {
    display: flex;
    background: $primary-white;
    box-shadow: 0 7px 5px 0 rgba(0,0,0,0.1);
    height: 80px;
    width: 100%;
    // Position fixed stick the object to the screen
    position: fixed;
    padding: 1px;
    // the z-index, of the navigation menu, so it overlaps the rest of the content of the page
    z-index: 1;
    // the core or starting position of the bird logo
    .bird-logo {
        position: relative;
        transition: 1s ease;
        top: -100px;
        left: 40px;
        width: 4%;
        // Used for animating the bird to the navigation menu
        &--transition {
            position: relative;
            transition: 2s ease;
            transition-delay: 1s;
            top: 1px;
            left: 40px;
            width: 4%;
            @media screen and (max-width: $device-m) {
                display: none;
            }
            @media screen and (max-width: $device-l) {
                left: -20px;
                width: 6%;
            }
        }
    }
    // navigation menu styling
    nav {
        display: flex;
        align-items: center;
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        .container {
            width: 50%;
        }
        // styles for the menu titles on the navigation menu
        ul {
            li {
                display: inline;
                text-align: center;
                a {
                    display: inline-block;
                    width: 19%;
                    // Rem is relative to the base font size of the html document
                    padding: 1.7rem 0;
                    margin: 0;
                    text-decoration: none;
                    color: $primary-blue;
                    &:hover {
                        color: $primary-orange;
                        transition: 0.3s ease;
                    }
                }
            }
        }
        // Changes the underline bar depending on which element is active
        .two.active ~ .underline {
            margin-left: 19.6%;
        }
        .three.active ~ .underline {
            margin-left: 39.2%;
        }
        .four.active ~ .underline {
            margin-left: 58.9%;
        }
        .five.active ~ .underline {
            margin-left: 78.5%;
        }
        .underline {
            height: 3px;
            width: 19%;
            background: $primary-orange;
            border: none;
            transition: 0.3s ease-in-out;
        }
        @media screen and (max-width: $device-m) {
            display: none;
        }
    }
    @media screen and (max-width: $device-m) {
        display: none;
    }
    @media screen and (max-width: $device-l) {
        padding: 0 0 0 50px;
    }
}
// Background overlay for making the background darker, when using the hamburger menu
.background-overlay {
    background: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    z-index: 2;
    &--active {
        display: block;
    }
}
.menu {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    z-index: 99;
    .menu__social {
        width: 60%;
        margin-top: 35px;
    }
    .menu__container {
        padding-top: 20px;
        div {
            margin: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid #ccc;
            &:last-child {
                border: 0;
            }
            &.active {
                a {
                    color: $primary-orange;
                }
            }
            &.button {
                padding: 10px 30px;
                width: 90%;
                text-align: center;
                @media screen and (max-width: $device-m) {
                    width: 94%;
                }
                @media screen and (max-width: $device-s) {
                    width: 90%;
                }
                a {
                    font-size: 1em;
                    color: $primary-white;
                }
            }
        }
        // Text decoration removes standard decoration of a tags
        a {
            text-decoration: none;
            color: $primary-blue;
        }
    }
    @media screen and (min-width: 769px) {
        display: none;
    }
}
.menu--off {
    position: fixed;
    left: 101%;
    width: 70%;
    top: 0;
    display: block;
    background: $primary-white;
    min-height: 600px;
    height: 100vh;
    transition: all 300ms;
}
.menu--on {
    left: 30%;
    box-shadow: -8px -8px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms;
    display: block;
}
// the hamburger icon
.material-design-hamburger {
    button {
        display: block;
        border: none;
        background: none;
        outline: 0;
        position: fixed;
        left: 77%;
        z-index: 999;
        @media screen and (max-width: $device-m) {
            left: 85%;
        }
        @media screen and (max-width: $device-s) {
            left: 77%;
        }
    }
    @media screen and (min-width: 769px) {
        display: none;
    }
}
// Cursor pointer changes the cursor to a pointer
.material-design-hamburger__icon {
    padding: 3rem 1rem;
    cursor: pointer;
}
.material-design-hamburger__layer {
    display: block;
    left: 80%;
    width: 30px;
    height: 3px;
    background: $primary-blue;
    position: absolute;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    // After inserts something after the content
    // before inserts something before the content
    // Inherit, means it inhearits from it's parent
    &:after,
    &:before {
        display: block;
        width: inherit;
        height: inherit;
        position: absolute;
        background: inherit;
        left: 0;
        content: '';
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
        z-index: inherit;
    }
    &:before {
        bottom: 200%;
    }
    &:after {
        top: 200%;
    }
}
// Animation for the burger icon when clicked, and changes into a arrow
// The animation-name CSS property specifies a list of animations that should be applied to the selected element
// he animation-fill-mode property specifies a style for the element when the animation is not playing
.material-design-hamburger__icon--to-arrow {
    animation-name: material-design-hamburger__icon--slide;
    animation-fill-mode: forwards;
    &:before {
        // forwards means that after the animation ends the animation will apply the property values
        animation-name: material-design-hamburger__icon--slide-before;
        animation-fill-mode: forwards;
    }
    &:after {
        animation-name: material-design-hamburger__icon--slide-after;
        animation-fill-mode: forwards;
    }
}
.material-design-hamburger__icon--from-arrow {
    animation-name: material-design-hamburger__icon--slide-from;
    &:before {
        animation-name: material-design-hamburger__icon--slide-before-from;
    }
    &:after {
        animation-name: material-design-hamburger__icon--slide-after-from;
    }
}
// Keyframes changes the object from 0% to 100% the frames inbetween depending on the time esimated under transistion
@keyframes material-design-hamburger__icon--slide {
    0% {}
    100% {
        transform: rotate(180deg);
    }
}
@keyframes material-design-hamburger__icon--slide-before {
    0% {}
    100% {
        transform: rotate(-45deg);
        margin: 3% -19%;
        width: 75%;
    }
}
@keyframes material-design-hamburger__icon--slide-after {
    0% {}
    100% {
        transform: rotate(45deg);
        margin: 3% -19%;
        width: 75%;
    }
}
@keyframes material-design-hamburger__icon--slide-from {
    0% {
        transform: rotate(-180deg);
    }
    100% {}
}
@keyframes material-design-hamburger__icon--slide-before-from {
    0% {
        transform: rotate(-45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {}
}
@keyframes material-design-hamburger__icon--slide-after-from {
    0% {
        // roates changes the rotation of the object
        transform: rotate(45deg);
        margin: 3% 37%;
        width: 75%;
    }
    100% {}
}
// Drop down menu
// Drop down when it have the class open
#dropdown.open {
    color: #fff;
    //  add color orange to the left border
    border-left-color: $primary-orange;
}
#dropdown ul {
    position: absolute;
    top: 100%;
    width: 230px;
    padding: 5px 0;
    margin: 0 0 0 117px;
    display: none;
    border-left: 3px solid $primary-orange;
    background: #fff;
    box-shadow: 0 7px 5px 0 rgba(0,0,0,0.1);
}
#dropdown ul li {
    // Displays an element as an inline element
    display: inline;
    // make the text align to the left
    text-align: left;
    a {
        display: inline-block;
        width: 19%;
        padding: 1.7rem 0;
        margin: 0;
        text-decoration: none;
        color: $primary-blue;
        &:hover {
            color: $primary-orange;
            // makes the color change on hover by 300ms.
            transition: 0.3s ease;
        }
    }
}
#dropdown ul li a {
    width: 100%;
    text-decoration: none;
    // makes the text be block elements
    display: block;
    color: #447dd3;
    // changes space between them
    padding: 7px 15px;
}
// adds color and background color when hovering above the text
#dropdown ul li a:hover {
    color: #6fa0e9;
    background: #e7f0f7;
}
