.contact {
    height: 100%;

    &__person {
        padding: 20px 20px 20px 0;
        width: 20%;
        height: auto;


        img {
            width: 100%;
            border-radius: 100%;
        }

        &:nth-child(2n) {
            width: 80%;
        }
        @media screen and (max-width: 640px) {

        }
    }

    &__map {
        background: $primary-white;
        width: 100%;
        height: 200px;
    }
}
