.contact {
    height: 100vh;

    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 600px;
        width: 100%;
    }

    &__map {
        background: $primary-white;
        flex: 1;
        width: 60%;
    }

    &__person {
        background: #f5f5f5;
        order: -1;
        height: 50%;
        width: 40%;
    }
}
