// Exclusive to contact page
.contact {
    height: 100%;

    &__person {
        padding: 20px 20px 20px 0;
        width: 20%;
        height: auto;


        img {
            width: 100%;
            border-radius: 100%;
        }
        // takes the secound child of the class person.
        &:nth-child(2n) {
            width: 80%;
        }
        // changes padding on mediuem devices, so there is space around it.
        @media screen and (max-width: $device-m) {
            padding: 20px;
        }
    }

    &__map {
        background: $primary-white;
        width: 100%;
        height: 200px;
    }
}
