// Front Page styling

.landing {
    background: linear-gradient(to bottom,rgba(160,216,239,1) 0%, rgba(221,241,249,1) 35%,rgba(254,255,255,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__skies {
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        img:nth-child(1) {
            position: absolute;
            bottom: 500px;
            animation: moveclouds 15s linear infinite;
            @media screen and (max-width: $device-s) {
                bottom: 400px;
            }
        }

        img:nth-child(2) {
            position: absolute;
            left: 470px;
            bottom: 400px;
            transform: scale(0.6);
            animation: moveclouds 25s linear infinite;
            @media screen and (max-width: $device-s) {
                bottom: 300px;
            }
        }

        img:nth-child(3) {
            position: absolute;
            left: 250px;
            bottom: 360px;
            transform: scale(0.8);
            animation: moveclouds 20s linear infinite;
            @media screen and (max-width: $device-s) {
                bottom: 260px;
            }
        }

        img:nth-child(4) {
            position: absolute;
            left: 470px;
            bottom: 350px;
            transform: scale(0.75);
            animation: moveclouds 18s linear infinite;
            @media screen and (max-width: $device-s) {
                bottom: 250px;
            }
        }

        img:nth-child(5) {
            position: absolute;
            left: 150px;
            bottom: 250px;
            transform: scale(0.8);
            animation: moveclouds 20s linear infinite;
            @media screen and (max-width: $device-s) {
                bottom: 150px;
            }
        }
    }
    @keyframes moveclouds {
        0% {
            margin-left: 100%;
        }

        100% {
            margin-left: -100%;
        }
    }

    &__bird {
        position: relative;
        background: url('../images/logo2.svg') no-repeat;
        background-size: contain;
        width: 40%;
        height: 53%;
        margin: 0 auto;

        &-logo {
            position: absolute;
            transition: 3s ease;
            width: 23%;

            &--transistion {
                transform: translate(-600px, -600px);
                transition: 3s ease;
            }
        }
        @media screen and (max-width: $device-s) {
            width: 85%;
            height: 31%;
        }
        @media screen and (max-width: $device-m) {
            width: 85%;
            height: 41%;
        }
        @media screen and (max-width: $device-l) {
            width: 60%;
            height: 51%;
        }
    }
}

// Tickets

.tickets {
    height: 600px;
    width: 100%;
    box-shadow: inset 0 -11px 8px -10px #CCC;

    .wrapper {
        justify-content: space-around;
        align-items: center;

        .tickets__card {
            background: $primary-white;
            box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
            height: 450px;
            border-radius: 2px;
            width: 350px;
            padding: 25px;
            text-align: center;

            h2 {
                color: $primary-blue;
                text-transform: uppercase;
            }

            img {}

            article {
                text-align: left;
            }
            @media screen and (max-width: $device-s) {
                margin: 20px 0 0;
            }
            @media screen and (max-width: $device-l) {
                margin: 20px;
            }
        }
    }
    @media screen and (max-width: $device-s) {
        height: auto;
        padding: 0 0 20px;
    }
    @media screen and (max-width: $device-m) {
        height: auto;
    }
    @media screen and (max-width: $device-l) {
        height: auto;
    }
}

// Rainbow Section

.sustainability {
    display: flex;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,rgba(160,216,239,1) 0%, rgba(221,241,249,1) 35%,rgba(254,255,255,1) 100%);

    &__description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;
        background: url('../images/treetop_1.svg') no-repeat;
        background-position: left bottom;
        background-size: 70%;

        &-center {
            max-width: 50%;
            height: auto;

            h1 {
                color: $primary-blue;
                text-transform: uppercase;
            }
            @media screen and (max-width: $device-l) {
                max-width: 95%;
                height: 100%;
                padding: 150px 0 0 0;
            }
            @media screen and (max-width: $device-s) {
                max-width: 95%;
                height: 100%;
                padding: 20px 0 0 0;
            }
            @media screen and (max-width: $device-m) {
                max-width: 95%;
                height: 100%;
                padding: 20px 0 0 0;
            }
        }
        @media screen and (max-width: $device-s) {
            width: 100%;
        }
        @media screen and (max-width: $device-m) {
            width: 100%;
        }
    }

    &__rainbow {
        background: url('../images/rainbow.svg') no-repeat;
        background-position: right center;
        height: 100%;
        width: 50%;
        @media screen and (max-width: $device-s) {
            position: absolute;
            transform: translateY(-222px);
            height: 20%;
            width: 100%;
        }
        @media screen and (max-width: $device-m) {
            position: absolute;
            transform: translateY(-300px);
            height: 20%;
            width: 100%;
        }
    }
    @media screen and (max-width: $device-s) {
        display: block;
        height: 500px;
    }
    @media screen and (max-width: $device-m) {
        display: block;
        height: 500px;
    }
}

//Partner Section

.partners {
    display: flex;
    height: 600px;
    width: 100%;
    padding: 20px 0 0 0;
    box-shadow: inset 0 11px 8px -10px #CCC;

    &__logo {
        width: 50%;
        @media screen and (max-width: $device-s) {
            width: 100%;
            img {
                width: 30%;
                padding: 20px 0 20px 0;
            }
        }
        @media screen and (max-width: $device-m) {
            width: 100%;
            text-align: center;
            img {
                width: 30%;
                padding: 20px 0 20px 0;
            }
        }
        @media screen and (max-width: $device-l) {
            padding: 20px 0 0 20px;
            img {
                width: 30%;
            }
        }
    }

    &__description {
        width: 50%;

        h1 {
            color: $primary-blue;
            text-transform: uppercase;
        }
        @media screen and (max-width: $device-s) {
            width: 100%;
        }
        @media screen and (max-width: $device-m) {
            width: 100%;
            padding: 20px;
        }
        @media screen and (max-width: $device-l) {
            padding: 20px 20px 0 0;
        }
    }
    @media screen and (max-width: $device-s) {
        display: block;
        height: auto;
    }
    @media screen and (max-width: $device-m) {
        display: block;
        height: auto;
    }
    @media screen and (max-width: $device-l) {
        height: 400px;
    }
}

//End tent section

.festival {
    // Used for making the block responsive (Flexbox)
    display: flex;
    // Vh changes the pixes/height of the block depending on screen size
    height: 100vh;
    width: 100%;
    // adds a gradient as background color.
    background: linear-gradient(to bottom, rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(160,216,239,1) 100%);

    &__description {
        // This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children
        display: flex;
        // This defines the alignment along the main axis.
        justify-content: center;
        height: 100%;
        width: 50%;

        .branch {
            // 	The element is positioned relative to its first positioned
            position: absolute;
            width: 10%;
            left: 0;
            // margin are used to generate space around elements.
            margin: 200px 0;
            // will not be displayed when max-width is below mediuem
            @media screen and (max-width: $device-m) {
                display: none;
            }
        }

        .bird-logo--bottom {
            position: absolute;
            // changes the scale of the logo on the X-axis
            transform: scaleX(-1);
            // reverses the logo
            filter: FlipV;
            // css transision, of 1 sec. with eases in.
            transition: 1s ease;
            width: 4%;
            margin: 135px 0;
            left: 30px;
            display: none;
            @media screen and (max-width: $device-m) {
                display: none;
            }
        }

        &-center {
            max-width: 50%;
            // height auto takes the same height as it's parent object
            height: auto;

            h1 {
                color: $primary-blue;
                // changes all text to uppercase
                text-transform: uppercase;
            }
            // changes the Maximum width on small screens
            @media screen and (max-width: $device-s) {
                max-width: 95%;
            }
            @media screen and (max-width: $device-l) {
                max-width: 85%;
                padding: 100px 0 0 100px;
            }
        }
        @media screen and (max-width: $device-s) {
            width: 100%;
            height: auto;
            margin: 200px 0 0 0;
        }
        @media screen and (max-width: $device-m) {
            width: 100%;
            height: auto;
            margin: 40px 0 0 0;
            justify-content: flex-start;
            padding: 20px;
        }
    }

    &__bottom {
        background: url('../images/park.svg') no-repeat;
        // background is positioned at the bottom of the picture.
        background-position: bottom;
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: $device-s) {
        height: 600px;
    }
    @media screen and (max-width: $device-m) {
        height: 600px;
    }
}
