//Ticket Page
//Bacground picture paralex styling
.bgPicture {
    // Used for making the block responsive (Flexbox)
    display: flex;
    // vh stands for view height, and changes height of the block depending on the height of the screen
    height: 65vh;
    width: 100%;
    background: url('../images/ticketPic.jpg') no-repeat;
    background-position: center top;
    // Box-shadow reverses shadow to be ingoing.
    box-shadow: inset 0 0 34px -5px rgba(0,0,0,0.5);
    // Scale the background image to be as large as possible so that the background area is completely covered
    background-size: cover;
    background-attachment: fixed;
    // background-attachment: fixed makes the image not scroll with the rest of the page.
    &--contact {
        background: url('../images/mobile.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    //Media Qury for changing height when scaled down, for responsiveness
    @media screen and (max-width: 960px) {
        height: 30vh;
    }
}

.ticket__picture {
    height: 200px;
    width: 100%;
}

// changes shadow of ticket section on the ticket page
#main-ticket {
    margin-top: 20px;
    box-shadow: inset 0 -0 0 0 transparent;
}

// Overlay for both ticket and contact site, which makes it more dark.
.bg__overlay{
    background-color: rgba( $primary-black, .4 );
    width: 100%;
    height: 100%;
    position: relative;
}
.bg-overlay--ticket{
    background-color: rgba( $primary-black, .4 );
    width: 100%;
    height: 100%;
    position: relative;
}