@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none;
    font-size: 42px;
}

p {
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none;
}

a {
    font-family: 'Roboto', sans-serif !important;
    text-decoration: none;
}
