// Add your settings here


// Color
$primary-white:    #ffffff;
$primary-black:    #383A3F;
$primary-orange:   #ff5722;
$primary-blue:     #2196f3;
$primary-blueGrey: #607d8b;
$primary-green:    #8bc34a;


// z-index
