// Add your settings here


// Color
$primary-white:    #ffffff;
$primary-whiteGrey:#f5f5f5;
$primary-black:    #383A3F;
$primary-orange:   #ff5722;
$primary-blue:     #2196f3;
$primary-blueGrey: #607d8b;
$primary-green:    #8bc34a;


// Device sizes for breakpoints
$device-xs:        320px;
$device-s:         420px;
$device-m:         768px;
$device-l:         1024px;
